/*  Base Styles
   ****************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
  right: 0;
}
h1,
h2 {
  font-weight: 500;
}
h3,
h4,
h5 {
  line-height: 1.1;
  font-weight: 300;
  margin: 0;
}
h1 {
  font-size: 1.25em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
a {
  color: #0086AB;
  outline: thin;
  text-decoration: none;
}
a:active,
a:hover {
  outline: thin;
}
input,
label {
  cursor: pointer;
  font-size: 1rem;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  background: none;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-family: "Open Sans", sans-serif;
  outline: thin;
  text-shadow: none;
}
button[disabled] {
  opacity: .5;
}
span {
  display: inline;
}
select {
  font-family: "Open Sans", sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* Helper Classes
  *******************/
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.icon-state {
  float: right;
}
.push-right,
.user-menu-open {
  right: 40%;
}
.overlay,
.user-menu-open {
  position: relative;
}
.overlay:after,
.user-menu-open:after {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.fadeout {
  animation: fadeout 1s forwards 5s;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ember-application > .ember-view:first-of-type {
  height: 100%;
}
.outer-container {
  height: 100%;
  background-color: #F9F8F4;
}
.layout-constrained {
  width: 95%;
  margin: 0 auto;
}
/*  Admin Page
   ***************/
.upload-status-table {
  display: table;
}
@media only screen and (min-width: 536px) {
  .upload-status-table {
    height: 70px;
    padding: 10px 3% 10px 0;
    float: right;
  }
}
.upload-status-table .upload-status-row {
  display: table-row;
}
.upload-status-table .upload-status-row .upload-status-cell {
  display: table-cell;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.panel-full {
  padding-top: 2rem;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #BBBBBB;
  background-color: #FFFFFF;
}
.project-version {
  text-align: center;
}
.panel-constrained {
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
}
.panel-inner {
  margin: .5rem 1rem;
  min-height: 70px;
}
.panel-inner .fa-spinner {
  margin-right: .2rem;
}
.panel-inner-controls {
  padding: 2rem 0 1.5rem;
}
.panel-inner-controls button {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 440px) {
  .panel-inner-controls button {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.summary-container {
  padding: 6.25rem 0 0;
}
.summary-container .panel-constrained {
  margin-bottom: 6.25rem;
}
.summary-container .panel-constrained:last-child {
  margin-bottom: 0;
}
.partials-row {
  padding-left: 1rem;
  padding-top: 1rem;
}
.partials-row + .partials-row {
  border-top: 1px solid #dedede;
}
.container-partial {
  position: relative;
  margin-top: -1rem;
}
@media only screen and (min-width: 440px) {
  .container-partial {
    line-height: 2rem;
  }
}
.container-partial a {
  width: 80%;
}
.container-partial button {
  position: absolute;
  width: 25px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto 0 auto auto;
  font-size: 1.2rem;
  color: #777777;
}
.container-partial button.partial-remove {
  right: 0;
}
.container-partial button.partial-upload {
  right: 30px;
}
.container-partial h3 {
  font-size: 1rem;
  font-style: italic;
  color: #777777;
  margin-left: 1.6em;
  margin-top: 1rem;
}
.status-count {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 70px;
  margin-right: 1rem;
  vertical-align: middle;
}
@media only screen and (min-width: 440px) {
  .status-count {
    min-width: 2%;
  }
}
.status-type {
  font-size: 1rem;
  line-height: 70px;
  vertical-align: middle;
}
.status-bold {
  font-weight: 700;
  vertical-align: middle;
}
.status-action {
  color: #777777;
  font-size: 1em;
}
.status-text {
  text-transform: capitalize;
  line-height: 3rem;
  vertical-align: middle;
  font-size: 1rem;
}
.status-notify {
  float: right;
  text-align: right;
  width: 40%;
  color: #777777;
  margin-right: 15px;
}
.status-info {
  color: #777777;
  display: block;
  font-size: .75rem;
  margin: .3rem 0 1rem;
}
@media only screen and (min-width: 440px) {
  .status-info {
    font-size: .85rem;
  }
}
.status-info i:first-child {
  margin-right: .3rem;
}
@media only screen and (min-width: 440px) {
  .state-label {
    padding: 2px 5px;
    line-height: 1rem;
  }
}
/*  Respondent Page
   *******************/
.comment {
  background-color: #FFFFFF;
  text-align: left;
  padding: 1em;
  margin-top: 1em;
}
.question {
  background-color: #FFFFFF;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-top: 1rem;
  padding: .5rem;
}
@media only screen and (min-width: 536px) {
  .question {
    padding: 1rem;
  }
}
.question-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.question-element {
  margin: 1.5rem 0;
}
.question h3 {
  color: #777777;
  margin-top: .333rem;
  font-size: 1rem;
}
.answer-wrapper {
  margin-bottom: 2rem;
  position: relative;
}
/*  Survey End Page
    ********************/
.survey-complete-body {
  text-align: center;
}
.survey-complete-body h1 {
  margin-top: 7%;
}
.survey-complete-footer {
  text-align: center;
}
.survey-complete-footer button {
  margin-top: 10%;
}
/* ================================================== (Survey Images, pre-defined sizes) ================================================== */
img.survey_image {
  padding: 2px;
}
.survey_image.survey-image-small {
  max-height: 150px;
  max-width: 150px;
}
.survey_image.survey-image-medium {
  max-height: 300px;
  max-width: 300px;
}
.survey_image.survey-image-large {
  max-height: 600px;
  max-width: 600px;
}
.survey_image.survey-image-xlarge {
  max-height: 900px;
  max-width: 900px;
}
/*  Header
   ************/
header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 20px 25px;
  background-color: #333333;
  color: #EFEFEF;
}
header h1,
header .header-action {
  flex: 9 1 90%;
}
.menu-button {
  flex: 1 1 10%;
  text-align: right;
  cursor: pointer;
}
.user-menu {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 40%;
  top: 0;
  right: -40%;
  transition: all 0.2s ease-in-out;
  background-color: #333333;
}
.user-menu-header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 30px 10px;
  border-bottom: 1px solid #555;
}
.user-menu-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 30px 10px;
  border-top: 1px solid #555;
}
.user-menu-header .user-type {
  flex: 9 1 90%;
  text-align: left;
}
.user-menu.isShown {
  opacity: 1;
  right: 0;
  z-index: 10;
}
.user-menu-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.user-menu-body button {
  align-self: center;
  margin-top: 25px;
}
header {
  width: 100%;
  height: 50px;
  background-color: #333333;
  border-bottom: 1px solid #CCCCCC;
  padding: 0 10px;
}
header h1,
header .header-action {
  display: block;
  line-height: 50px;
  padding-right: 5px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #EFEFEF;
}
.header-wrapper {
  height: 50px;
  font-size: .75rem;
}
.header-button {
  width: 30%;
  margin-top: 2rem;
  padding: 5px;
}
.title-admin {
  color: #FFFFFF;
}
.title-respview {
  vertical-align: bottom;
  color: #777777;
  line-height: 50px;
}
.state-label-container {
  display: inline-block;
  margin-right: 5px;
}
.state-label {
  background-color: #fafbcf;
  border-radius: 3px;
  line-height: initial;
  color: #333333;
  padding: 0 .25rem;
}
.header-controls {
  display: inline-block;
  text-align: right;
  float: right;
  color: #FFFFFF;
  line-height: 50px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header-controls .status {
  line-height: 50px;
}
.header-controls button {
  line-height: initial;
  margin-top: 8px;
  margin-bottom: 8px;
}
.user-menu-languages .languages,
.projects-nav-user-menu .languages {
  width: 80%;
  margin: 21px auto;
  text-align: left;
}
.user-menu-languages .languages li,
.projects-nav-user-menu .languages li {
  display: block;
  padding: 14px;
}
.user-menu-languages .languages li button,
.projects-nav-user-menu .languages li button {
  color: #fff;
}
/*  Footer
    **********/
footer {
  margin: 1rem 0;
  width: 100%;
}
.footer_button-wrapper {
  width: 92%;
  margin: 0 auto;
}
.footer_button-wrapper button {
  width: 100px;
}
.footer_button-wrapper .button-transparent {
  color: #333333;
  padding: 0;
}
.footer_button-wrapper .button-transparent::before {
  font-family: FontAwesome;
  content: "\f100";
  margin-right: 5px;
}
.button-footer {
  border-radius: 3px;
  background: #58595C;
  color: #FFFFFF;
  padding: 10px;
  float: right;
}
.button-back {
  float: left;
}
.button-next {
  float: right;
}
.footer_button-wrapper button:first-child {
  margin-top: .6rem;
}
.login-form .languages li {
  display: inline-block;
  margin-right: 7px;
}
.login-form .languages li button {
  font-size: .7em;
}
/* Accordion
   *************/
.accordion {
  float: right;
  height: 50px;
}
.accordion-control {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 5px;
  color: #EFEFEF;
  cursor: pointer;
  background: #0086AB;
  border-radius: 3px;
  margin-top: .7rem;
}
.accordion-content {
  position: absolute;
  width: 100%;
  height: 12em;
  top: 49px;
  left: 0;
  background-color: #000000;
  text-align: center;
  z-index: 999;
}
@media only screen and (min-width: 440px) {
  .accordion-content {
    height: 12em;
    text-align: inherit;
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 536px) {
  .accordion-content {
    height: 5.5rem;
  }
}
.accordion-user-panel {
  display: block;
  padding-left: 0;
  /* Shame */
  text-align: center;
}
@media only screen and (min-width: 536px) {
  .accordion-user-panel {
    display: inline-block;
    line-height: 5.5rem;
  }
}
.accordion-user-controls {
  text-align: center;
}
@media only screen and (min-width: 536px) {
  .accordion-user-controls {
    float: right;
    padding: 1.5rem 0;
    width: auto;
  }
}
@media only screen and (min-width: 536px) {
  .accordion-user-controls button {
    margin-left: 1rem;
  }
}
.accordion-user {
  color: #FFFFFF;
  display: inline-block;
  line-height: 4.9rem;
  vertical-align: middle;
}
.accordion-content button {
  display: inline-block;
}
.accordion-shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.6) repeat-y bottom;
  height: 100%;
  width: 100%;
  left: 0;
  top: 185px;
  visibility: visible;
  z-index: 10;
}
@media only screen and (min-width: 440px) {
  .accordion-shade {
    top: 185px;
  }
}
@media only screen and (min-width: 536px) {
  .accordion-shade {
    top: 135px;
  }
}
.animate-up {
  display: none;
  transition: 300ms ease-in-out;
}
.animate-down {
  display: block;
}
/*  Modal
    *********/
@media only screen and (min-width: 1028px) {
  .modal-header,
  .modal-body,
  .modal-footer,
  .modal-partial-footer {
    padding: 20px 25px;
  }
}
.modal {
  width: 90%;
  margin: 25% auto;
}
@media only screen and (min-width: 440px) {
  .modal {
    width: 80%;
  }
}
@media only screen and (min-width: 730px) {
  .modal {
    width: 70%;
    margin: 15% auto;
  }
}
@media only screen and (min-width: 536px) {
  .modal {
    width: 80%;
    margin: 20% auto;
  }
}
@media only screen and (min-width: 1028px) {
  .modal {
    width: 60%;
    margin: 10% auto;
  }
}
@media only screen and (orientation: landscape) {
  .modal {
    margin: 5% auto;
  }
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.button-close {
  float: right;
  background: transparent;
  border: 0;
  font-size: 1.25em;
  color: #000000;
  text-align: center;
  width: 1.4em;
  cursor: pointer;
}
.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border-radius: 6px;
  outline: 0;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-header {
  border-bottom: 1px solid #E0E0E0;
  padding: 15px 10px;
}
.modal-header h1 {
  display: inline-block;
}
.modal-body {
  padding: 25px;
  line-height: 1.6;
  font-size: .85rem;
}
.modal-body input[type=text] {
  width: 100%;
  margin-top: 1em;
  padding: 5px;
  outline: thin;
}
.modal-footer {
  text-align: right;
  padding: 15px 10px;
}
.modal-footer button + button {
  margin-left: .5em;
}
.modal-footer-end {
  text-align: center;
  padding: .8rem;
}
.modal-footer-end button:first-child {
  margin-bottom: .8rem;
  width: 100%;
}
@media only screen and (min-width: 440px) {
  .modal-footer-end button:first-child {
    margin-bottom: 0;
    width: auto;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 440px) {
  .modal-footer-end {
    text-align: right;
  }
}
@media only screen and (max-width: 462px) {
  .footer-end {
    text-align: center;
  }
  .footer-end button:first-child {
    margin-bottom: .8rem;
    width: 50%;
  }
}
.modal-partial-footer {
  text-align: center;
  padding: 15px 10px;
}
.modal-partial-footer button:nth-child(-n+1) {
  color: #777777;
}
.modal-partial-footer button:nth-child(-n+2) {
  width: 100%;
  padding-bottom: .6rem;
}
@media only screen and (min-width: 500px) {
  .modal-partial-footer button:nth-child(-n+2) {
    width: auto;
    padding-bottom: 0;
    padding-right: .5rem;
  }
}
@media only screen and (min-width: 536px) {
  .modal-partial-footer {
    text-align: right;
  }
}
.modal-message {
  width: 80%;
  margin: 10% auto;
  text-align: center;
}
.modal-message-content {
  padding: 5% 0;
}
.modal-message-content h1 {
  line-height: 1.5;
}
.loading-screen {
  text-align: center;
  padding: 2rem;
}
.loading-screen .loading-footer,
.loading-screen .loading-action {
  margin-top: 2rem;
}
.loading-screen .loading-footer .fa-spinner,
.loading-screen .loading-action .fa-spinner {
  font-size: 3rem;
}
.loading-screen h1 {
  font-size: 1rem;
}
.collapse {
  display: none;
}
.page-centered {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
select {
  border-radius: 4px;
  padding: 5px;
}
.question-1d input[type=radio],
.question-1d input[type=checkbox] {
  display: none;
}
.question-1d select:disabled,
.question-1d input:disabled + .input-element:before {
  color: #BEBEBE;
}
.question-1d .input-element {
  float: left;
  margin-right: 5px;
}
.question-1d .list-answer {
  width: 85%;
  vertical-align: top;
}
.question-1d .radio > .input-element:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f1db";
  width: 20px;
  color: #777777;
}
.question-1d .radio input:checked + .input-element:before {
  content: "\f192";
  color: #F80;
}
.question-1d .checkbox > .input-element:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f096";
  width: 20px;
  color: #777777;
}
.question-1d .checkbox input:checked + .input-element:before {
  content: "\f046";
  color: #F80;
}
.question-1d .select {
  margin-bottom: .3rem;
}
.question-1d .noanswers {
  padding: .1rem 0;
}
.question-1d .noanswer-row {
  position: absolute;
  width: 100%;
  margin-top: .4rem;
  padding: .4rem 0 0 .4rem;
  text-align: left;
  border-top: 1px solid #bababa;
}
@media only screen and (min-width: 768px) {
  .question-1d .noanswer-row {
    padding: .4rem 0 0 .6rem;
    border-top: none;
    text-align: center;
  }
}
.question-1d .noanswer-row input {
  display: none;
}
.question-1d .noanswer-row label {
  font-size: 1rem;
}
.question-2d {
  /* All grid-view styling rules go here */
}
.question-2d table,
.question-2d tbody,
.question-2d tr {
  display: block;
}
.question-2d table td,
.question-2d tbody td,
.question-2d tr td,
.question-2d table th,
.question-2d tbody th,
.question-2d tr th {
  display: list-item;
  list-style-type: none;
}
.question-2d input[type=radio],
.question-2d input[type=checkbox] {
  display: none;
}
.question-2d select:disabled,
.question-2d input:disabled + .input-element:before {
  color: #BEBEBE;
}
.question-2d .list-2d-label {
  text-align: left;
  padding-left: 25px;
}
.question-2d .grid-2d-label {
  display: none;
}
.question-2d .question-2d-inputs {
  position: relative;
  vertical-align: middle;
  margin-bottom: .8rem;
  padding-left: .5rem;
}
.question-2d .question-2d-inputs input + label:before {
  display: table-cell;
}
.question-2d .question-2d-inputs .cell span {
  display: table-cell;
}
.question-2d .radio .input-element {
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 4px;
  color: #777777;
}
.question-2d .radio .input-element:before {
  content: "\f1db";
}
.question-2d .radio input:checked + .input-element:before {
  content: "\f192";
  color: #F80;
}
.question-2d .checkbox .input-element {
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  width: 25px;
  left: 8px;
  top: 4px;
  color: #777777;
}
.question-2d .checkbox .input-element:before {
  content: "\f096";
  width: 20px;
}
.question-2d .checkbox input:checked + .input-element:before {
  content: "\f046";
  color: #F80;
}
.question-2d .noanswers {
  padding: .1rem 0;
}
.question-2d .noanswers .row-answer {
  display: none;
}
.question-2d .noanswers .noanswer-row {
  width: 100%;
  margin-top: .4rem;
  padding-top: .8rem;
  text-align: left;
  border-top: 1px solid #bababa;
}
.question-2d .noanswers .noanswer-row label {
  position: relative;
}
.question-2d .noanswers .noanswer-row label .cdata {
  padding-left: 32px;
}
.question-2d .grid-mode {
  display: table;
  table-layout: fixed;
  min-width: 660px;
  width: 100%;
}
.question-2d .grid-mode tbody {
  display: table-row-group;
}
.question-2d .grid-mode tbody tr {
  display: table-row;
}
.question-2d .grid-mode tbody tr td,
.question-2d .grid-mode tbody tr th {
  display: table-cell;
  border: 1px solid #777777;
}
.question-2d .grid-mode tbody tr td.row-answer,
.question-2d .grid-mode tbody tr th.row-answer {
  min-width: 300px;
}
.question-2d .grid-mode tbody tr td .list-2d-label,
.question-2d .grid-mode tbody tr th .list-2d-label {
  display: none;
}
.question-2d .grid-mode tbody tr td .grid-2d-label,
.question-2d .grid-mode tbody tr th .grid-2d-label {
  display: inline-block;
  width: 100%;
  padding: .3rem;
}
.question-2d .grid-mode tbody tr td .radio .input-element,
.question-2d .grid-mode tbody tr th .radio .input-element,
.question-2d .grid-mode tbody tr td .checkbox .input-element,
.question-2d .grid-mode tbody tr th .checkbox .input-element {
  position: relative;
  left: 0;
  top: 0;
}
.question-2d .grid-mode tbody tr .question-2d-inputs {
  text-align: center;
  margin-bottom: 0;
  padding-left: 0;
}
.question-2d .grid-mode tbody tr .question-2d-inputs label {
  display: block;
}
.question-2d .grid-mode tbody .noanswers .row-answer {
  display: table-cell;
}
.question-2d .grid-mode tbody .noanswers .noanswer-row {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 47px;
  border-top: none;
  border-left: none;
}
.question-2d .grid-mode tbody .noanswers .noanswer-row label {
  display: block;
  font-size: 1rem;
  line-height: 47px;
}
.question-2d .grid-mode tbody .noanswers .noanswer-row label .cdata {
  display: none;
}
input[type=number] {
  padding: 3px;
}
.select .list-2d-label {
  padding-left: 0;
}
.noanswer-row input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  color: #777777;
}
.noanswer-row input[type=checkbox] + label:before {
  content: "\f096";
  width: 20px;
}
.noanswer-row input[type=checkbox]:checked + label:before {
  content: "\f046";
  color: #F80;
}
.row-legend {
  margin-bottom: .5rem;
}
.row-answer-list {
  background-color: #EFEFEF;
  padding: 10px 5px;
  margin-bottom: .5rem;
}
@media only screen and (min-width: 768px) {
  .row-answer-list {
    text-align: left;
    padding: .8rem;
  }
}
.block-row {
  display: block;
  margin-bottom: 5px;
}
input[type=text],
input[type=number],
textarea {
  color: #454545;
  border: 1px solid #BBBBBB;
}
input[type=text]:focus,
input[type=number]:focus,
textarea:focus {
  border: 1px solid #000000;
  outline: thin;
}
input[type=text] {
  width: 50%;
}
@media only screen and (min-width: 536px) {
  input[type=text] {
    width: 40%;
  }
}
input[type=textarea] {
  height: 150px;
  padding: .75rem .5rem;
}
input[type=number] {
  width: 85px;
}
@media only screen and (min-width: 440px) {
  input[type=number] {
    width: 100px;
  }
}
textarea {
  width: 100%;
}
.number input,
.float input,
.text input,
.textarea input,
.number span.cdata,
.float span.cdata,
.text span.cdata,
.textarea span.cdata {
  vertical-align: middle;
}
.answers:not(:first-child) {
  margin-top: 1rem;
}
.question-1d .grid-cell {
  margin: .8rem 0;
}
.answer-wrapper {
  border-collapse: collapse;
  margin-top: 2rem;
}
.empty-cell {
  background: transparent;
  border: none !important;
}
.empty-cell {
  width: 40%;
  text-align: left;
}
.col-legend {
  text-align: left;
  vertical-align: middle;
}
@media only screen and (min-width: 440px) {
  .col-legend {
    text-align: center;
    background: #bababa;
  }
}
.select-wrap {
  position: relative;
  font-family: fontawesome;
  display: inline-block;
}
.select-wrap:after {
  position: absolute;
  content: "\f107";
  height: 1em;
  font-size: 1em;
  line-height: 1;
  right: -1rem;
  top: 50%;
  margin-top: -0.5em;
  color: #BBBBBB;
  pointer-events: none;
}
.select-wrap select {
  min-width: calc(100% + 1.5rem);
  font-family: inherit;
  font-size: 1em;
  outline: thin;
  background: #FFFFFF;
  color: #333333;
  white-space: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #BBBBBB;
  cursor: pointer;
}
.open {
  display: inline-block;
  margin-top: -6px;
  margin-left: 5px;
  width: 50%;
}
.open input {
  height: 35px;
}
.form-wrapper {
  margin: 50px auto 0 auto;
}
@media only screen and (min-width: 768px) {
  .form-wrapper {
    max-width: 500px;
  }
}
.login-header {
  width: 100%;
  border-bottom: 1px solid #BBBBBB;
  padding: 10px 0;
  display: flex;
}
@media only screen and (min-width: 768px) {
  .login-header {
    border: 1px solid #BBBBBB;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: none;
  }
}
.login-tab {
  flex: 1;
  text-align: center;
}
.login-tab:hover {
  cursor: pointer;
}
.login-tab.active span {
  padding: 10px 0;
  border-bottom: 2px solid black;
}
.login-body {
  padding: 20px 35px;
}
@media only screen and (min-width: 768px) {
  .login-body {
    padding: 20px;
    border: 1px solid #BBB;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.login-body .error-message {
  margin-bottom: 10px;
  text-align: center;
}
.login-input {
  display: inline-block;
  width: 100% !important;
  color: #454545;
  border: 1px solid #BBB;
}
.login-input:focus {
  border: 1px solid #000;
  outline: thin;
}
.login-icon-overlay {
  position: absolute;
  right: 15px;
  bottom: 9px;
}
.form-group {
  margin-bottom: 25px;
  position: relative;
}
.form-group label {
  display: inline-block;
  margin-bottom: 5px;
  cursor: default;
}
.form-group input {
  cursor: text;
}
.form-group a {
  float: right;
  color: #0086AB;
}
.form-control {
  height: 40px;
  padding: 6px 12px;
}
.login-form .btn-login {
  margin-top: 35px;
}
.login-footer {
  margin-top: 25px;
  text-align: center;
}
.forgot-form-wrapper h2,
.forgot-form-wrapper p {
  margin-bottom: 10px;
}
.btn {
  padding: 15px 15px;
  width: 225px;
}
.btn-default {
  background-color: #DDDDDD;
  color: #333333;
  border-bottom: 1px solid #d0d0d0;
  font-size: 1.25rem;
}
.btn-primary {
  background: #9E0B0F;
  color: #FFFFFF;
}
.btn-special {
  background: #76BD23;
  border-bottom: 1px solid #69a71f;
  color: #FFFFFF;
  font-size: 1.25rem;
}
.btn-action {
  background-color: #009DD8;
  color: #FFFFFF;
}
.btn-link {
  color: #0086AB;
  text-align: center;
}
.btn-transparent {
  padding: 0;
  width: 0;
  color: #0086AB;
}
.btn-login {
  width: 100%;
  display: block;
  color: #FFFFFF;
  background-color: #F80;
}
.block {
  width: 100%;
  display: block;
}
/*********** Button Select (atm1d) ************/
.sq-atm1d-block > .error-label {
  margin: 1rem 0;
}
.sq-atm1d-row {
  max-width: 100%;
  max-height: 100%;
}
.sq-atm1d-table {
  display: table;
  width: 100%;
  height: 100%;
}
.sq-atm1d-tr {
  display: table-row;
}
.sq-atm1d-td {
  display: table-cell;
  vertical-align: middle;
}
.sq-atm1d-td img {
  vertical-align: middle;
  pointer-events: none;
}
/* Our grid */
ul.sq-atm1d-tiled,
ul.sq-atm1d-multicol {
  display: flex;
  flex-wrap: wrap;
}
ul.sq-atm1d-tiled {
  flex-direction: row;
}
ul.sq-atm1d-multicol {
  flex-direction: column;
}
.sq-atm1d-vertical li.sq-atm1d-row {
  display: list-item;
}
.sq-atm1d-tiled li.sq-atm1d-row,
.sq-atm1d-multicol li.sq-atm1d-row,
.sq-atm1d-horizontal li.sq-atm1d-row {
  display: inline-block;
}
/* A single button (label) */
.sq-atm1d-button {
  cursor: pointer;
  background-color: #696a69;
  border-radius: 4px;
  border: 0 solid transparent;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  list-style: none outside;
  padding: 3px 8px;
}
.sq-atm1d-button .sq-atm1d-openEnd input[type=text] {
  color: #454545;
  font-size: 1rem;
}
@media only screen and (min-width: 1028px) {
  .sq-atm1d-button:hover {
    background-color: #C5D600;
  }
}
input:checked ~ label.sq-atm1d-button {
  background-color: #2BBDB9;
}
.sq-atm1d-vertical .sq-atm1d-button,
.sq-atm1d-tiled .sq-atm1d-button,
.sq-atm1d-multicol .sq-atm1d-button,
.sq-atm1d-horizontal .sq-atm1d-button {
  margin: 3px;
}
/* Button Icons */
.sq-atm1d-tr-top .sq-atm1d-td:before,
.sq-atm1d-tr-bottom .sq-atm1d-td:after {
  font-family: FontAwesome, sans-serif;
  display: inline-block;
  width: 15px;
}
.sq-atm1d-tr-bottom {
  text-align: center;
  height: 15px;
}
.sq-atm1d-td.sq-atm1d-button-icon {
  width: 15px;
}
/**
 * Button Inputs and Icons
 * Vertical always displays the input icon to the left of the content
 * Tiled, Horizontal, and Multicol display the input icon centered underneath the content
 */
/* Hide all form radios and checkboxes */
.sq-atm1d-widget input[type=radio],
.sq-atm1d-widget input[type=checkbox],
.sq-atm1d-show-input-false .sq-atm1d-button-icon,
.sq-atm1d-show-input-false .sq-atm1d-tr-bottom,
.sq-atm1d-vertical .sq-atm1d-tr-bottom,
.sq-atm1d-tiled .sq-atm1d-tr-top .sq-atm1d-button-icon,
.sq-atm1d-multicol .sq-atm1d-tr-top .sq-atm1d-button-icon,
.sq-atm1d-horizontal .sq-atm1d-tr-top .sq-atm1d-button-icon {
  display: none;
}
.sq-atm1d-vertical input[type=radio] ~ .sq-atm1d-button .sq-atm1d-tr-top .sq-atm1d-button-icon:before {
  content: "\f1db";
}
.sq-atm1d-vertical input[type=radio]:checked ~ .sq-atm1d-button .sq-atm1d-tr-top .sq-atm1d-button-icon:before {
  content: "\f192";
}
.sq-atm1d-vertical input[type=checkbox] ~ .sq-atm1d-button .sq-atm1d-tr-top .sq-atm1d-button-icon:before {
  content: "\f096";
}
.sq-atm1d-vertical input[type=checkbox]:checked ~ .sq-atm1d-button .sq-atm1d-tr-top .sq-atm1d-button-icon:before {
  content: "\f046";
}
.sq-atm1d-tiled input[type=radio] ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after,
.sq-atm1d-multicol input[type=radio] ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after,
.sq-atm1d-horizontal input[type=radio] ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after {
  content: "\f1db";
}
.sq-atm1d-tiled input[type=radio]:checked ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after,
.sq-atm1d-multicol input[type=radio]:checked ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after,
.sq-atm1d-horizontal input[type=radio]:checked ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after {
  content: "\f192";
}
.sq-atm1d-tiled input[type=checkbox] ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after,
.sq-atm1d-multicol input[type=checkbox] ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after,
.sq-atm1d-horizontal input[type=checkbox] ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after {
  content: "\f096";
}
.sq-atm1d-tiled input[type=checkbox]:checked ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after,
.sq-atm1d-multicol input[type=checkbox]:checked ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after,
.sq-atm1d-horizontal input[type=checkbox]:checked ~ .sq-atm1d-button .sq-atm1d-tr-bottom .sq-atm1d-button-icon:after {
  content: "\f046";
}
.sq-atm1d-openEnd {
  display: block;
  margin-top: 5px;
}
.sq-atm1d-openEnd input[type=text] {
  width: 80%;
}
/* Button Content padding and alignment */
.sq-atm1d-content {
  padding: 5px;
}
.sq-atm1d-content.sq-atm1d-content-align-left {
  text-align: left;
}
.sq-atm1d-content.sq-atm1d-content-align-center {
  text-align: center;
}
.sq-atm1d-content.sq-atm1d-content-align-right {
  text-align: right;
}
/* Button alignment */
.sq-atm1d-buttons.sq-atm1d-button-align-left {
  text-align: left;
}
.sq-atm1d-buttons.sq-atm1d-button-align-center {
  text-align: center;
}
.sq-atm1d-buttons.sq-atm1d-button-align-right {
  text-align: right;
}
/*  Notification Messages
    *******************/
.status-message {
  font-size: .75rem;
  font-weight: normal;
  margin: 0;
  position: relative;
}
.status-message span {
  width: calc(100% - 30px);
  text-align: center;
  display: inline-block;
}
.status-message button {
  position: absolute;
  top: 0;
  right: 5px;
  color: #333333;
  font-size: 1rem;
  width: 25px;
  height: 100%;
}
.completed .status-message {
  line-height: 1.3rem;
}
.completed .status-message button {
  line-height: 1.3rem;
}
.status-message#success-message,
.status-message#online-message {
  background-color: #76BD23;
}
header #success-message,
header #online-message {
  color: #76BD23;
}
#failure-message,
#offline-message,
#offline-message-2,
#errcode-message,
#survey-change {
  background: #FAFBCF;
  padding: .2rem;
  width: 100%;
  position: relative;
  text-align: center;
}
.exit-page-status {
  display: inline-block;
  float: right;
}
.errorpage {
  width: 85%;
  margin: 3em auto;
  padding: 1em 3em 2em;
  background: #EFEFEF;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  font-weight: 200;
}
.errorpage h1 {
  font-size: 48px;
  font-weight: 200;
  color: #333333;
  margin-bottom: 20px;
}
.errorpage p {
  margin-left: 1em;
}
.errorpage #message {
  font-weight: bold;
}
#code {
  margin: 1em;
  padding: 20px;
  background: #F9F8F4;
  border: 1px solid #dedede;
  border-radius: 5px;
  overflow: auto;
  font-size: 14px;
  font-weight: 200;
  line-height: 22px;
}
.error-message {
  color: #9E0B0f;
}
.error-label {
  color: #9E0B0f;
}
.question.ng-invalid {
  border: 1px solid #9E0B0f;
}
.dev {
  position: relative;
}
.dev h2 {
  margin-top: 1.8rem;
}
.dev:after {
  content: 'Hidden Question';
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  background-color: #f5f4ed;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: .5em;
  left: .5em;
}
.message-capacity {
  background-color: #FAFBCF;
  color: #333333;
  text-align: center;
  padding: 1rem;
}
.message-low-storage {
  background-color: #F17A75;
  color: #FFF;
  text-align: center;
  padding: 1rem;
}
.message-bold {
  font-weight: 600;
}
.projects {
  position: relative;
  max-width: 768px;
  margin: auto;
}
.projects-nav-options {
  background-color: #333;
  color: #EFEFEF;
  width: 155px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}
.projects-nav {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #EFEFEF;
  width: 100%;
  clear: both;
}
.projects-nav .projects-nav-dropdown {
  float: left;
  margin-left: 10px;
  cursor: pointer;
}
.projects-nav .projects-nav-user-menu {
  float: right;
  margin-right: 10px;
}
.projects-refresh-hidden {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #DDD;
  padding-top: 9px;
  color: #333;
}
.projects-list {
  position: absolute;
  background-color: #FFF;
  width: 100%;
}
.projects-list-item {
  padding: 10px;
  border-bottom: 2px solid #DDD;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.projects-list-item .projects-info {
  flex: 8 8 80%;
}
.projects-list-item .projects-action {
  flex: 2 2 20%;
  text-align: center;
}
.projects-list-item .projects-name a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
}
.projects-list-item.survey-closed {
  background: #f7f7f7;
}
.projects-list-item.survey-closed .projects-name a,
.projects-list-item.survey-closed .projects-stats {
  color: #989797;
}
.projects-testing-info {
  display: block;
  text-align: center;
}
.projects-testing-info h2 {
  font-size: 1rem;
}
.projects-testing-info p {
  font-size: 0.85rem;
}
.projects-warning {
  font-size: 0.75rem;
}
.new-badge {
  padding: 2px 5px;
  text-align: center;
  font-size: 0.7rem;
  background: #3ea03e;
  color: #FFF;
}
